.buttonSpan {
    margin-left: 1.5rem;
}

.button {
    border-radius: 6px;
    font-size: 20px;
    left: 20px;
    color: white;
    background-color: #6c757d;
}

.bar {
    font-family: Cormorant Garamond Light; 
    font-size: 20px; 
    border-color: Black;
    border-radius: 5px
}

.txt {
    color: grey;
}

.txt:hover {
    color: rgb(14, 13, 13);
}