.profileSettings {
    background-color:#00c2cb;
    background-size: cover;
    height: 500px;
   
}

#Form {
    margin-left: 43%;
}

#changeBtn {
    height: 40px;
    width: 300px;
}

.navBar-button {
    margin-left: 2rem;
}