.formWrapper {
    padding: 1rem;
    text-align: left;
}

.formWrapper input, .formWrapper select {
    width: 170px;
    margin-left: 1rem;
    border-radius: 6px;
}

.formWrapper label {
    width: 180px;
}

.formWrapper Button {
    width: 366px;
    margin-top: .5rem;
    font-weight: 700;
    background-color: rgb(65, 179, 163);
    border: 1px solid black;
}