.banner {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.content {
    display: flex;
    color: rgb(89, 73, 59);
}

.data {
    width: 50vw;
    margin: 2rem 2rem;
    text-align: left;
    font-weight: 600;
    font-size: large;
    background-color: rgb(222, 222, 222);
    opacity: 0.8;
    padding-left: 1rem;
}

.data i {
    font-size: small;
}

.calendarForm {
    width: 50vw;
    margin: 2rem 2rem;
    background-color: rgb(222, 222, 222);
    opacity: 0.8;
}

.service {
    margin-bottom: .5rem;
}