.formWrapper {
    width: 90%;
    padding: 1rem 0.5rem;
    margin: 1rem 2rem;
    border-radius: 6px;
    text-align: left;
    color: rgb(89, 73, 59);
    background-color: white;
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 1);
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 1);
    font-size: 22px;
}

.formWrapper input, .formWrapper select {
    margin: 1rem;
    border-radius: 6px;
}

.formWrapper label {
    font-weight: 700;
}

.formWrapper button {
    color: white;
    width: 280px;
    border-radius: 6px;
    margin-top: .8rem;
    font-weight: 700;
    padding: .1rem 0;
    background-color: rgb(89, 73, 59);
    border: 1px solid black;
}

.formWrapper button:disabled {
    opacity: 0.65;
    cursor: not-allowed;
}